<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="com.petclinic.model.Owner"*/-->

    <h1 th:text="'Owner List'">List of owners will be populated here</h1>

    <table id="vets" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Id</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="owner: ${owners}">
                <td th:text="${owner.id}">1</td>
                <td th:text="${owner.firstName}">Jhon</td>
                <td th:text="${owner.lastName}">Doe</td>
            </tr>
        </tbody>
    </table>


</body>
</html>